language: c
sudo: false
env:
  global:
    - RACKET_DIR=~/racket
  matrix:
    - RACKET_VERSION=6.6

before_install:
  - git clone https://github.com/greghendershott/travis-racket.git ../travis-racket
  - cat ../travis-racket/install-racket.sh | bash
  - export PATH="${RACKET_DIR}/bin:${PATH}"

install:
  - raco pkg install --deps search-auto $TRAVIS_BUILD_DIR cover-codecov

script:
  - raco make $TRAVIS_BUILD_DIR/yaml/main.rkt
  - raco test $TRAVIS_BUILD_DIR/yaml

after_success:
  - raco cover -f codecov -d $TRAVIS_BUILD_DIR/coverage -b $TRAVIS_BUILD_DIR
